<!DOCTYPE html>
<html lang="en" ng-app="fetchApp">
  <head>
    <meta charset="UTF-8">
    <title>OMG</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/app.js"></script>
    <script src="/mainController.js"></script>
    <script src="/requestService.js"></script>
    <script src="/responseFactory.js"></script>
  </head>

  <body ng-controller="MainController">

  <div class="ten columns offset-by-four">
    <h2>Foundations of Fetch</h2>
  </div>
  
  <hr/>

  <div class="row">
      <label class="four columns offset-by-two">Type a URL</label>
      <label class="four columns">Select HTTP Method</label>
  </div>


    <div class="row">       
        <!--Type URL -->
        <input type="text" class="four columns offset-by-two" ng-model="url">

        <!-- <select class="four columns" ng-model="selectedMethod" ng-options="method for method in methods"></select> -->

        <select class="four columns" ng-model="selectedMethod"> 
          <option ng-repeat="(key,value) in methods" value="{{key}}">{{value}}</option>
        </select>

    </div>

    <div class="row">
        <button class="two columns offset-by-five button-primary" ng-click="fetch(url, selectedMethod)">Click Me!</button>
    </div>

    <hr/>
        <div class="ten columns offset-by-five">
          <h4>Output</h4>
        </div>
        <ul class="even columns offset-by-one" ng-repeat="response in responses">
            <li ng-model="fetch.url">{{ urlFetched }} </li>
            <li>{{ selectedMethodFetched }}</li>
            <li>{{ response.statusCode }}</li>
        </ul>
        
    <hr/>
    </div>
  </body>
  
</html>
